<ion-view title="Alleen geteld" id="page54">
  <ion-content padding="true" class="has-header">
    <h1 id="alleenGeteld-heading12" style="color:#000000;">+1 geteld</h1>
    <a ui-sref="jagen()" id="alleenGeteld-button29" class="button button-energized button-block">Terug</a>
  </ion-content>
</ion-view>