<ion-view title="{{ 'Stap 2' | translate }}">
  <ion-content padding="true" class="has-header center" scroll>
    <h1 id="heading" style="color:#000000;" translate>Omgevingsanalyse:Stap 2</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img id="header-image" palette numColors="8" ng-src="{{image.src}}" ng-show="image.src">
    </div>
    
	<div style="margin:16px 0px 80px 0;text-align: left;font-size:11px;">
		Kies het soort beplanting of bebouwing bij de kleuren.
		<div style="margin-bottom:16px;" ng-repeat="(n, data) in colors track by $index" >
		<div style="padding:2px;display:inline-block;height:24px;width:24px;border-radius:50%;border:2px solid #000;color:#f2f2f2;background:{{data.color}}">&nbsp;</div>
		<!-- <select ng-options="c.name disable when c.shade == 'dark' group by c.shade for c in colors"> {{colors[$index].percentage}}%
			ng-repeats="n in [].constructor(assigned) track by $index" ng-init="innerIndex=$index"
		-->
		<select ng-hide="data.type!=''" ng-inits="data.type='Welke soort hoort hierbij?'" ng-options="item.item disable when item.disabled for item in legenda"
			ng-change="setLegenda($index)" 
		    ng-model="data.type">
		<!--	<option>Welke soort hoort hierbij?</option>
			<option ng-repeat="item in legenda" value="item.item">{{item.item}}</option>-->
		</select><div style="display: inline" ng-if="data.type">{{data.type}}</div>
		</div>
	</div>
     
    
    
       
    
  </ion-content>
  
   <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		<button ui-sref="app.analyseStap1()" ng-disabled="true" class="button button-energized slanted" translate>Volgende stap</button>
  	</ion-toolbar>
  </ion-footer>
  
</ion-view>