<ion-view title="{{ 'Omgevingsanalyse:' | translate }}">
	<ion-content padding="true" class="has-header center">
		<h1 id="heading" style="color:#000000;" translate>Stap {{stap}}</h1>
		<div style="margin-left: -10px; width: calc(100% + 20px);" id="image-container"></div>
		<div style="margin:8px 0 32px 0;">
    		<p ng-hide="image.src" translate>Maak een foto van de kaart. Zorg ervoor dat de kaart zo groot mogelijk op de foto komt.</p>
			<p ng-show="image.src" translate>Kies hieronder het soort beplanting of bebouwing bij de kleuren.</p>
			<ion-list ng-show="image.src" style="text-align: left"><!--  | orderBy : 'percentage' -->
	    		<ion-item class="item" ng-repeat="(n, data) in colors track by $index" style="margin-bottom: 8px!important;" ng-class="{'all-disabled': !colors[$index].enabled}">
					<div style="height:40px;">
						<div class="color" style="background:{{data.color}}"></div>
						<h2 style="font-size:24px;margin:0px 0px 0px 50px;"><span translate>Kleur</span> {{$index + 1}}</h2>
					</div>
				
				<li class="item item-toggle">
					<span style="color:#000">Niet gebruiken</span>
					<label class="toggle toggle-dark">
						<input type="checkbox" ng-model="colors[$index].enabled">
						<div class="track">
							<div class="handle"></div>
       					</div>
	   				</label>
	   			</li>
				
				<label class="item item-input item-select">
					<div class="input-label">
						<span ng-hide="colors[$index].type">Wat is dit?</span>
						<a ng-show="colors[$index].type" style="color:{{data.color}}"><button ng-click="resetLegenda($index)" class="button button-small icon ion-close"></button> {{colors[$index].type}}</a>
						<select ng-disabled="!colors[$index].enabled" class="legenda" ng-change="setLegenda($index)" ng-options="item.name disable when item.disabled for item in legenda"  ng-hide="colors[$index].type!=''" ng-model="colors[$index].type"></select>
    		 		</div>
    		 	</label>
    		 	
    		 	<!--<label class="item item-input item-select">
					<div class="input-label">
						<span>% van totaal</span>
						<select ng-disabled="!colors[$index].enabled"  class="legenda" ng-init="cindex = $index"  ngs-hide="colors[cindex].percentage!=''" ng-model="colors[$index].percentage">
							<option ng-repeat="n in [].constructor(100) track by $index" ng-selected="$index === colors[cindex].percentage">{{$index}}%</option>
    		 			</select>
    		 		</div>
    		 	</label>
    		 	-->
    		 	<ion-item class="range range-energized" style="padding-left:16px;">
    		 	 <p class="input-label" style="font-size:16px;color:#000;position:absolute;top:0px;max-width:100%;">Percentage van tekening</p>
    		 	 0%
        <input type="range" value="0" ng-model="colors[$index].percentage" range-left="links" value="2" min="0" max="100" step="1">
        <!--<ion-icon  name="bewolkt" range-center role="img" small="" class="icon icon-ios ion-ios-cloud range-center" aria-label="bewolkt"></ion-icon>-->
        100%
         <span style="left:50%;transform: translateX(-50%);color:#000;margin-top:20px;position: absolute;">{{colors[$index].percentage}}%</span>
    		 	</ion-item>
			 </ion-item>

		</ion-list>  
    </div>
    
    <div class="taskbar">
	    <div style="flex: 1;">
		   <a foto ng-hide="image.src" ng-disabled="disabled" controller="analyse"  class="button button-energized taak outer"><i style="transform: translateX(-50%);top:-3px;left:50%;font-size:40px;font-family:'ionicons'; position: absolute;"></i><span translate>foto maken</span>
	      	</a>
      		<input type="file" ng-model="photo" accept="image/*" id="capture" style="display:none" capture="camera">
	    </div>
     </div>   
   
  </ion-content>
  
  <ion-footer ng-hide="hasEmptyValues" class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		<button ng-click="saveData()" sssui-sref="app.analyseStap2()" ng-disabled="hasEmptyValues" class="button button-energized slanted" translate>Opslaan</button>
  	</ion-toolbar>
  </ion-footer>
</ion-view>s