<ion-view title="{{ 'Omgevingsanalyse' | translate }}">
  <ion-content padding="true" class="has-header center">
    <!--<div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IMG_4794.jpg" id="kaart" ng-click="getColor($event, this)" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    -->

     <h1 id="heading" style="color:#000000;" translate>Omgevingsanalyse</h1>
    <div id="hommeljacht-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;" translate>Per kaart die je hebt getekend hebt ga je onder anderen kijken hoe groot deel daarvan bloeiende planten waren.</p>
    </div>
    
  </ion-content>
  
   <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		<button ui-sref="app.analyseStap1()"  class="button button-energized slanted" translate>Beginnen</button>
  	</ion-toolbar>
  </ion-footer>
  
</ion-view>