<ion-view title="Foto opslaan" id="page53" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" ui-sref="jagen()">
        <img src="img/WCskGjtRkeEc81e2shJv_take_photo_ios.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>