<ion-view title="{{ 'foto nemen' | translate }}" hide-nav-bar="false">
	<ion-content padding="false" class="center" ng-controller="fotoCtrl as vm">
		<span class="ion-ios-close-outline" style="color:#fff;font-size:32px;position: absolute;right: 10px;top:10px;z-index:99;" ng-click="sluitPopover()"></span>
		<!--<input type="file" accept="image/*" capture="camera" />-->
		<ng-webcam config="vm.config"
                       on-error="vm.onError(err)"
                       on-load="vm.onLoad()"
                       on-live="vm.onLive()"
                       on-capture-progress="vm.onCaptureProgress(src, progress)"
                       on-capture-complete="vm.onCaptureComplete(src)"></ng-webcam> 

		<div style="position: fixed;bottom:32px;">
			<div id="result"></div>
		</div>
		
		<!--<div style="position: fixed;bottom:0px;">                       
			<button class="button button-energized button-small" type="button" ng-disabled="!vm.captureButtonEnable" ng-click="vm.capture()">Capturar</button>
			<button class="button button-energized button-small" type="button" ng-click="vm.off()">uit</button>
			<button class="button button-energized button-small" type="button" ng-click="vm.on()">aan</button>                       
		</div>-->
		
		<a class="take-photo ion-ios-circle-filled" ng-disabled="!vm.captureButtonEnable" ng-click="vm.capture()" style="color:#fff;transform: translateX(-50%);left:50%;font-size:64px;position: absolute;bottom:10px;z-index:99;"></a>
		            
	</ion-content>
</ion-view>


<!--  $scope.closePopover = function() {
    $scope.popover.hide();
  }; -->