<ion-view title="{{ 'Hommeljacht' | translate }}" >
  <ion-content padding="false" class="has-header center">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/fRD5H9IS27kJZdPJQVLA_hommel-002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="heading" style="color:#000000;" translate>Hommeljacht</h1>
    <div id="hommeljacht-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;" translate>Ga naar buiten en zoek een plek waar je hommels kunt tegenkomen. Probeer in een kwartier tijd zoveel mogelijk hommels op te sporen en te fotograferen. Hoeveel kan jij er vinden?</p>
    </div>
    
  </ion-content>
  
   <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		<button ui-sref="app.jagenWeer()"  class="button button-energized slanted" translate>Beginnen</button>
  	</ion-toolbar>
  </ion-footer>
  
</ion-view>