<ion-view title="{{ 'hommelkast' | translate }}">
  <ion-content padding="false" class="has-header center">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/c8MmMw3bTCGIc4upVdpQ_hommel-003.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="heading" style="color:#000000;" translate>Hommelkast</h1>
    <div id="hommelkast-markdown3" class="show-list-numbers-and-dots">
      <p class="p16" translate>Ga bij de hommelkast zitten en tel de hommels die in- en uitvliegen. Kijk goed of ze ook pollen aan hun pootjes hebben.</p>
    </div>
    
  </ion-content>
  
  
  <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
  <a ui-sref="app.tellenWeer()" style="border-radius:0px 0px 0px 0px;" class="button button-energized slanted" translate>Beginnen</a>
  </ion-toolbar>
</ion-footer>

</ion-view>