<ion-view title="Inloggen" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <h1 id="heading" class="center" translate>Inloggen</h1>
    
    <form id="inloggen" class="list" name="form" >
      <div class="button-bar"><!-- button-energized category==16 ? 'icon-pfeil_unten' : 'icon-pfeil-oben'-->
      <button ng-click="ChangeLanguage('nl_NL')" ng-class="taal=='nl_NL' ? 'button-energized' : 'button-stable' " class="button button-block">Nederlands</button>
      <button ng-click="ChangeLanguage('de_DE')" ng-class="taal=='de_DE' ? 'button-energized' : 'button-stable' " class="button button-block">Duits</button>
    </div>
      
     
      <div class="card" ng-if="!online">
	  	<div class="item item-divider item-assertive" translate>
	  		Niet online!
  		</div>
	  	<div class="item item-text-wrap assertive" translate>
		  	Je kunt op dit moment niet inloggen omdat je niet online bent
	  	</div>
      </div>	
      
      <ion-list id="inloggen-list1">
        <label class="item item-input" id="inloggen-input1">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="iform.email" style="background:#f7f7f7" placeholder="" required>
        </label>
        <label class="item item-input" id="inloggen-input2">
          <span class="input-label">Password</span>
          <input type="password" ng-model="iform.password" placeholder="" style="background:#f7f7f7" required>
        </label>
      </ion-list>
      
      
      
       <div ng-show='form.email.$error' class="validatie" class="alert" style="display:block;width:100%;clear:both">
				<span ng-if="form.email.$error.required" translate>Het e-mail veld mag niet leeg zijn</span>
				<span ng-if="form.email.$error.email" translate>Het e-mailadres is verkeerd geschreven</span>
			</div>
      
    </form>
  </ion-content>
  <!-- <a ui-sref="app.tellenWind()" ng-disabled="!hommelkast.weer" class="button button-energized slanted">Volgende</a>-->
   <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
  	<a style="bottom:50px;position: absolute;width:100%;text-align: center;" href-inappbrowser="https://dev.silenceofthebees.eu/registreren" class="button button-energized button-block button-clear" translate>account aanmaken</a>
  	<a ng-click="inloggen(this)" ng-disabled="(!online || form.$invalid) || disabled" class="button button-energized slanted" translate>Inloggen</a>
      
  </ion-toolbar>
</ion-footer>
</ion-view>