
<ion-modal-view title="Jagen overzicht" hide-nav-bar="true" hide-back-button="true" name="modal"> 
 <ion-header class="bar bar-header center" no-border>
  	<div id="lijst-button-bar2" class="button-bar">
     <a ng-class="{'button-energized': tablijst, 'button-default': tabkaart}" ng-click="tablijst=true;tabkaart=false;" class="button" translate>lijst</a>
     <a ng-class="{'button-energized': tabkaart, 'button-default': tablijst}" ng-click="tablijst=false;tabkaart=true;" class="button" translate>kaart</a>
  	</div>
    </ion-header>
 
  <ion-content padding="true" style="padding:32px 0px 0px 0px;margin-bottom:60px;" scroll="true">
    <h1 class="center" id="heading" ng-show="jacht.shommels" style="color:#000000;padding-top:16px;" translate>Wat een jager ben jij, fantastisch!</h1>
    <h1 class="center" id="heading" ng-show="!jacht.shommels" style="color:#000000;padding-top:16px;" translate>Helaas...volgende week beter!</h1>
    

 
 <div ng-show="tabkaart" style="height:calc(100% - 40px);">
  <ng-map center="41,-87" max-zoom="21" map-type-id="satellite" zoom="3" style="display: block; height: 100%;">
  <shape name="polygon"
       paths="{{polygone}}";
       stroke-color="#FFB501"
       stroke-opacity="0.8"
       stroke-weight="2"
       fill-opacity="0">
     </shape>
  		 <marker icon="{{hommel.icon}}" ng-repeat="(n, hommel) in jacht.hommels | orderBy:'time'" position="{{hommel.position.latitude}},{{hommel.position.longitude}}"></marker>
  </ng-map>
</div>
   
    <div ng-show="jacht.shommels && tablijst" style="padding:0px 16px;" class="show-list-numbers-and-dots">
      	
      <p style="margin-top:0px;color:#000000;"><span translate>Je hebt <b>{{totaaltijd}}</b> minuten geteld.
	      <br/>Hieronder kun je nog aanpassen.</span>
	      <ul>
		      <li translate>Klik op het nummer bij 'Geteld' en pas aan</li>
		      <li translate>Swipe naar links bij 'Foto's' om te wissen.</li>
	      </ul>
	</p>
    </div>
    
   

    
    <ion-list ng-show="jacht.shommels && tablijst">
    
     <!--<ion-item class="item-divider" style="color:#fff;background-color: #ffb501;" id="lijst-list-item-divider2"><span translate>Geteld</span> ({{jacht.chommels}}):</ion-item>
      <ion-item class="item-avatar" id="lijst-list-item13">
        <img src="img/zonderpollen1.svg">
        <h2 translate>Hommels zonder foto</h2>
        <p><input style="color:#ffb501;font-size:20px;" type="number" ng-model="jacht.thommels"/></p>
      </ion-item>
      
      <div class="spacer" style="height: 16px;"></div>-->
      <ion-item class="item-divider" style="color:#fff;background-color: #ffb501;"><span translate>Getelde hommels</span> ({{jacht.shommels}}):</ion-item>
      
      <ion-item ng-show="!jacht.shommels" class="item-avatar">
          <img src="img/metpollen1.svg">
          <h2><span translate>Helaas geen foto's</span></h2>
          <p><span translate>volgende week beter</span></p>
         
      </ion-item>

      <ion-item ng-repeat="hommel in jacht.hommels track by $index"
      ng-class="{ 'item-thumbnail-left': hommel.miniatuur.url, 'item-avatar': !hommel.miniatuur.url, 'fade':hommel.fade}"
      class="" id="foto-{{hommel.nr}}">
          <img ng-if="hommel.miniatuur.url" width="{{hommel.miniatuur.width}}" height="{{hommel.miniatuur.height}}" ng-src="{{hommel.miniatuur.url}}">
          <img ng-if="!hommel.miniatuur.url" src="img/zonderpollen1.svg">
          <h2>
	          <span ng-if="hommel.miniatuur.url"><span ng-if="hommel.miniatuur.url" translate>Foto</span> {{$index+1}}</span>
	          <span ng-if="!hommel.miniatuur.url" translate>Hommel zonder foto</span>
          </h2>
          <p><span translate>om</span> {{hommel.time | date:'HH:mm:ss'}}u.</p>
     
        
        <select>
          <option style="font-size:9px;">Welk soort hommel zag je?</ion-option>
          <option ng-repeat="soort in soorten" value="{{soort}}">{{soort}}</option>
        </select>
    
          <ion-option-button class="button-assertive" ng-click="wis(hommel.nr)" translate>Wissen</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  
   <ion-footer class="bar bar-footer center" ndo-border>
  	<ion-toolbar style="width:100%	">
  	<a ng-show="!jacht.shommels" ng-click="back();" class="button button-energized slanted" translate>opnieuw</a>
  	<a ng-show="jacht.shommels" ng-click="opslaan();" class="button button-energized slanted" translate>opslaan</a>
  	</ion-toolbar>
  	<!--<ion-toolbar style="width:100%	">
  	<button nsg-show="jacht.fotos || jacht.chommels" ng-click="opslaan()" class="button button-energized slanted" translate>opslaan</button>
    
  	 <button ng-show="jacht.fotos || jacht.chommels" ng-click="opslaan()" class="button button-energized slanted" translate>opslaan</button>
     <a ng-show="!jacht.fotos && !jacht.chommels" ng-click="back();" class="button button-energized slanted" translate>opnieuw</a>-->
    </ion-toolbar>
  </ion-footer>
</ion-modal-view>