<ion-view title="Jagen" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="false" class="manual-remove-top-padding center">
    <div style="margin: -10px 0 0 -10px; width: calc(100% + 20px);">
      <img src="img/hommel-jagen.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="heading" style="color:#000000;" translate>klik op een van onderstaande knoppen als je een hommel ziet</h1>
      
      

      
    <div class="taken-bar">
		<div class="right">
			<a ng-click="countHommel()" ng-disabled="disabled" class="button button-energized taak outer"><i style="transform: translateX(-50%);top:-3px;left:50%;font-size:40px;font-family:'ionicons'; position: absolute;"></i><span translate>alleen tellen<br/>(hij was al weg)</span></a>
		 	<p style="position:relative;left:50%;text-align:center;width:62px;font-size:32px;line-height:32px;margin-top:24px;">{{jacht.thommels}}</p>
		</div><!-- ssng-click="takePhoto(event)" -->
		<div class="left">
      		<a foto ng-disabled="disabled" controller="jacht" class="button button-energized taak outer"><i style="transform: translateX(-50%);top:-3px;left:50%;font-size:40px;font-family:'ionicons'; position: absolute;"></i><span translate>foto maken</span>
	      	</a>
      		<input type="file" ng-model="photo" accept="image/*" id="capture" style="display:none" capture="camera" multiple>
	  		<p style="position:relative;left:-0%;text-align:center;width:62px;font-size:32px;line-height:32px;margin-top:24px;">{{jacht.fhommels}}</p>
	  	</div>
	  	
	  	
    </div>
  <a ng-hide="true" ui-sref="app.modal.signin()" class="button button-energized slanted">modal</a>
    
    <div id="jagen-markdown7" class="show-list-numbers-and-dots">
      <p style="margin-top:32px;color:#000000;" translate>je bent nu <b my-current-time="jagenOverzicht.html">0:00</b> minuten bezig met jagen</p>
      <div id="image"></div>
    </div>
    <div id="image-container" style="display:none"></div>
  </ion-content>
  
   <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar>
  		<a ng-click="showActionSheet()" class="button button-energized slanted"  translate>stoppen</a>
  	</ion-toolbar>
  </ion-footer>
  
</ion-view>