<ion-modal-view title="Jagen Upload" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="true" style="padding:16px 16px 0px 16px;margin-bottom:60px;" scroll="true">
    <h1 class="center" id="heading" style="color:#000000;padding-top:16px;" translate>Upload gegevens</h1>
        <div class="show-list-numbers-and-dots">
    
    <ion-list>
     <ion-item class="item-divider" style="color:#fff;background-color: #ffb501;" id="lijst-list-item-divider2"><span translate>Geteld</span> ({{jacht.chommels}}):</ion-item>
      <ion-item class="item-avatar" id="lijst-list-item13">
        <img src="img/zonderpollen1.svg">
        <h2 translate>Hommels zonder foto</h2>
        <p>Geupload</p>
       
      </ion-item>
      <div class="spacer" style="height: 16px;"></div>
      <ion-item class="item-divider" style="color:#fff;background-color: #ffb501;"><span translate>Uploaden Foto's</span> ({{uploads}} / {{jacht.fhommels}}):</ion-item>
     
      <ion-item ng-repeat="hommel in jacht.hommels track by $index" ng-if="hommel.foto">
      
      <div style="text-align:center; width:100%;background:#f2f2f2">
	      <div id="progressbar-{{$index}}" style="height:2px;width:0%;background:#000;"></div>
	      <div style="font-size:10px"><span id="progressnum-{{$index}}">0</span>%</div>
      </div>
      </ion-item>
	  <ion-item ng-show="uploadready" class="center">
		<h2 translate>Klaar!</h2>
        <p style="font-size:11px;" translate>Je gaat nu terug naar het beginscherm.</p> 
	  </ion-item>
      
    </ion-list>
  </ion-content>
  
   <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%">
  		<button ng-show="jacht.fotos || jacht.chommels" ng-click="back()" ng-disabled="uploading" class="button button-energized slanted" translate>terug</button>
  	</ion-toolbar>
  </ion-footer>
</ion-modal-view>