<ion-view title="{{ 'kies een taak' | translate }}">
  <ion-content padding="false" class="has-header center">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/eVCDPJCFTsKYgRyge71Z_hommel-002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="heading" translate>kies een taak</h1>
    
    <div class="taskbar">
	    <div style="flex: 1;">
		    <button ui-sref="app.hommeljacht()" style="background: #FFB501 url('../img/hommeljacht.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span style="width:104%" translate>hommeljacht</span></button>
	    </div>
	    <div style="flex: 1;">
		     <button ui-sref="app.hommelkast()" style="background: #FFB501 url('../img/hommelkast.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span translate>hommelkast</span</button>
	    </div>
	    <div style="flex: 1;">
		    
		     <button ui-sref="app.analyseIntro()" style="background: #FFB501 url('../img/hommelkast.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span translate>analyse</span</button>
	    </div>
    </div>    
        
       
       
      </div>
    
  </ion-content>
</ion-view>

<!--<div class="taken-bar">
	 
		 <div class="right">
		 	<a ui-sref="app.hommelkast()" style="background: #FFB501 url('../img/hommelkast.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span translate>hommelkast</span></a>
		 </div>
      <div class="left">
      	<a ui-sref="app.hommeljacht()" style="background: #FFB501 url('../img/hommeljacht.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span style="margin-top:20px;"translate>hommeljacht</span></a>
      </div>
      
      
      
    </div>--> 