<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-light">
			<ion-nav-back-button><span style="color:#fff">-</span></ion-nav-back-button>
 
			<ion-nav-buttons side="right">
				<!--<button ng-hide="true" class="button button-icon button-clear ion-android-globe"></button>--> 
				<button class="button button-icon button-clear ion-navicon"  menu-toggle="right"></button> 
			</ion-nav-buttons>
		</ion-nav-bar>

<ion-nav-view name="menuContent"></ion-nav-view>
</ion-side-menu-content>
 
<ion-side-menu side="right">
	<ion-header-bar class="bar-energized">
		<h1 class="title" translate>instellingen</h1>
	</ion-header-bar>

	<ion-content>
		<ion-list>
			<div class="spacer" style="height: 16px;"></div>
			<ion-item class="item-divider" style="color:#fff;background-color: #ffb501;" id="taal" translate>Taal</ion-item>
			<ion-radio checked="true" color="dark" ng-Change="ChangeLanguage('nl_NL')" value="nl_NL" ng-model="taal" name="taal">Nederlands</ion-radio>
			<ion-radio ng-Change="ChangeLanguage('de_DE')" ng-checked="0==0" value="de_DE" ng-model="taal" name="taal">Deutsch</ion-radio>
			<div class="spacer" style="height: 32px;"></div>
			<!--
			<ion-item class="item-divider" style="color:#fff;background-color: #ffb501;" id="status" translate>Status</ion-item>
			<ion-item class="item-icon-left item-icon-right">
	        <i class="icon No Icon"></i><span translate>Online</span>
	        <i class="icon ion-log-out"></i>
	      </ion-item>
	      -->
	     
			<div class="spacer" style="height: 32px;"></div>
			<ion-item ng-click="uitloggen()" menu-toggle="right" class="item-icon-left item-icon-right">


	        <i class="icon No Icon"></i><span translate>Uitloggen</span>
	        <i class="icon ion-log-out"></i>
	      </ion-item>
			</ion-list>
	</ion-content>
</ion-side-menu>
</ion-side-menus>

<!--
	
	<ion-side-menus enable-menu-with-back-views="true">    
        <ion-side-menu-content >
          <ion-nav-bar class="bar-stable">
			  <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"></ion-nav-back-button>
            

            <ion-nav-buttons side="right">
              <button class="button button-icon icon ion-navicon" ng-clickssss="showRightMenu()" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>
          <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content> 
        
    
      
        <ion-side-menu side="right">
          
          <ion-header-bar class="bar bar-header bar-energized">
            <h1 class="title" translate>instellingen</h1>
          </ion-header-bar>
          
          <ion-content>
		  	<ion-radio ng-Change="ChangeLanguage('de_DE')" value="de_DE" ng-model="taal" name="taal">Deutsch</ion-radio>
		  	<ion-radio ng-Change="ChangeLanguage('nl_NL')" value="nl_NL" ng-model="taal" name="taal">Nederlands</ion-radio>     		
            <hr/>

            <ion-list id="opties-list5">
                <ion-item id="opties-list-item5">Mijn foto's</ion-item>
				<ion-item id="opties-list-item6">Meer informatie</ion-item>
				<ion-item id="opties-list-item7">Uitloggen</ion-item>
			</ion-list>            
          </ion-content>
        </ion-side-menu>
        
      </ion-side-menus>  
      
-->