<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-header-bar class="bar-light">
      <div class="title">Opties</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-right has-header optiemenu">
      <ion-list id="opties-list5">
        <ion-item id="opties-list-item5">Item 1</ion-item>
        <ion-item id="opties-list-item6">Item 2</ion-item>
        <ion-item id="opties-list-item7">Item 3</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>