<ion-view title="Signup" id="page45">
  <ion-content padding="true" class="has-header">
    <form id="signup-form5" class="list">
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button14" class="button button-stable button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>