<ion-view title="tel alle hommels">
  <ion-content padding="true" class="has-header center">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/hommel-groot.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="heading">tel alle hommels die je ziet en kijk goed of ze ook pollen hebben</h1>
    
  </ion-content>
  
  <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
 <a ui-sref="app.tellen()" class="button button-energized slanted">Beginnen</a>
  </ion-toolbar>
</ion-footer>
</ion-view>