<ion-view title="hoe hard waait het?" id="page43">
  <ion-content padding="true" class="has-header center">
   
    <form class="list" style="top:50%;transform: translateY(-100%)">
      <ion-item class="range range-dark wind no-border" id="hoeHardWaaitHet-range2">
        <ion-icon name="zacht" range-left role="img" small="" class="icon icon-ios ion-ios-rainy" aria-label="zacht"></ion-icon>        
        <input type="range" ng-model="hommelkast.wind" value="2" min="0" max="100" step="1">
        <!--<ion-icon  name="bewolkt" range-center role="img" small="" class="icon icon-ios ion-ios-cloud range-center" aria-label="bewolkt"></ion-icon>-->
        <ion-icon  name="zonnig" range-right role="img" small="" class="icon icon-ios ion-ios-sunny" aria-label="zonnig"></ion-icon>
         <span style="transform: translateX(-2%);color:#000;margin-top:20px;position: absolute; display:block;width:100%">{{hommelkast.wind}}%</span>
      </ion-item>
    <p>{{wind}}</p>
    </form>
     
  </ion-content>
  
    <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
  	<a ui-sref="app.telAlleHommels()" ng-disabled="!hommelkast.wind" class="button button-energized slanted">Volgende</a>
  </ion-toolbar>
</ion-footer>
  
 
    
</ion-view>