<ion-modal-view title="Tellen overzicht" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="true" style="padding:16px 16px 0px 16px;margin-bottom:60px;" class="manual-remove-top-padding" scroll="true">
    <h1 id="heading" class="center" style="color:#000000;padding-top:16px;" translate>geweldig!<br/>dank voor je hulp!</h1>
    
    <div class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Je hebt <b>{{totaaltijd}}</b> minuten geteld.<br/>Hieronder zie je het resultaat.</p>
    </div>
    
    <ion-list id="lijst-list9">
      <ion-item class="item-divider" style="color:#fff;background-color: #ffb501;" id="lijst-list-item-divider2"><span translate>Geteld</span> ({{hommelkast.met_pollen+hommelkast.zonder_pollen}}):</ion-item>
      <ion-item class="item-avatar" id="lijst-list-item13">
        <img src="img/metpollen1.svg">
        <h2 translate>hommels met pollen</h2>
        <p><input style="color:#ffb501;font-size:20px;" type="number" ng-model="hommelkast.met_pollen"/></p>
       
      </ion-item>
      <ion-item class="item-avatar" id="lijst-list-item14">
        <img src="img/zonderpollen1.svg">
        <h2 translate>hommels zonder pollen</h2>
        <p><input style="color:#ffb501;font-size:20px;" type="number" ng-model="hommelkast.zonder_pollen"/></p>
        
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 16px;"></div>
   
     <p style="margin-top:0px;color:#000000;text-align: center" translate>Klik op de cijfers als je nog wilt aanpassen</p>
    
    
  </ion-content>
  
  
  
  <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		
      <!-- <ion-option-button class="button-energized" ng-click="openModal()" translate>aanpassen</ion-option-button><ion-option-button class="button-energized" ng-click="openModal()" translate>aanpassen</ion-option-button>{{hommelkast.zonder_pollen}}{{hommelkast.met_pollen}}<div id="lijst-button-bar2" class="button-bar"><button ng-click="openModal()" class="button button-energized button-outline button-block" translate>aanpassen</button>-->
      <!--<button ng-click="opslaan()" class="button button-energized slanted" translate>opslaan</button></div>-->
      <a ng-click="opslaan()" ng-disabled="!hommelkast.weer" class="button button-energized slanted" translate>opslaan</a>
      
      	</ion-toolbar>
  </ion-footer>
  
</ion-modal-view>