<ion-view title="wat voor weer is het?">
  <ion-content padding="false" class="has-header center">
    <!--<h1 id="heading">wat voor weer is het?</h1>-->
    
  
    
    
    <form class="list" style="top:50%;transform: translateY(-100%)">
      <ion-item class="range range-dark weer no-border">
        <ion-icon name="regen" range-left role="img" small="" class="icon icon-ios ion-ios-rainy" aria-label="regen"></ion-icon>
        <input type="range" value="0" ng-model="hommelkast.weer" range-left="links" value="2" min="0" max="100" step="1">
        <!--<ion-icon  name="bewolkt" range-center role="img" small="" class="icon icon-ios ion-ios-cloud range-center" aria-label="bewolkt"></ion-icon>-->
        <ion-icon  name="zonnig" range-right role="img" small="" class="icon icon-ios ion-ios-sunny" aria-label="zonnig"></ion-icon>
         <span style="transform: translateX(-2%);color:#000;margin-top:20px;position: absolute; display:block;width:100%">{{hommelkast.weer}}%</span>
         
      </ion-item>
      <p>{{weer}}</p>
    </form>
    
    
  </ion-content>
  
  <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
  	<a ui-sref="app.tellenWind()" ng-disabled="!hommelkast.weer" class="button button-energized slanted">Volgende</a>
  </ion-toolbar>
</ion-footer>
</ion-view>