<ion-view title="tel alle hommels" hide-nav-bar="true" hide-back-button="true">
  <ion-content padding="true" class="manual-remove-top-padding center">
    <div style="margin: -10px 0 0 -10px; width: calc(100% + 20px);">
      <img src="img/hommel.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="heading">klik op één van onderstaande knoppen</h1>
    <div class="taken-bar">
		<div class="right">
			<a ng-click="recordPollen(1)" style="background: #FFB501 url('../img/metpollen.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span  translate>met pollen</span></a>
		 	<p style="font-size:32px;line-height:32px;padding:24px 24px 0 0;">{{hommelkast.met_pollen}}</p>
		</div>
		<div class="left">
      		<a ng-click="recordPollen(0)" style="background: #FFB501 url('../img/zonderpollen.svg') center center / contain no-repeat;" class="button button-energized taak outer"><span  translate>zonder pollen</span></a>
	  		<p style="font-size:32px;line-height:32px;padding:24px 0 0 24px;">{{hommelkast.zonder_pollen}}</p>
	  	</div>
    </div>
    
     <div class="show-list-numbers-and-dots">
      <p style="color:#000000;"  translate>je bent nu <b my-current-time="tellenOverzicht.html"></b> minuten bezig met tellen</p>
      <div id="image"></div>
    </div>
    
  </ion-content>
  <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
   <a id="tellen-button23" ng-click="showActionSheet()" class="button button-energized slanted"  translate>stoppen</a>
  </ion-toolbar>
</ion-footer>
</ion-view>

<!--icon ion-android-arrow-dropleft-circle --> 
<!--
	
	<ion-view title="Tellen" hide-nav-bar="true" hide-back-button="true" >
  <ion-content padding="true" class="has-header center">
    <h1 id="heading">klik op een van onderstaande knoppen als je een hommel ziet</h1>
     <div class="taken-bar">	 
		 <div class="right">
			<a ng-click="recordPollen(1)" class="button button-energized taak inner">
				<span style="padding:6px 2px 0px 2px;color:#fff;left:1px;position: absolute;font-size:10px;line-height:12px">hommel met pollen</span>
			</a>
			<p style="font-size:32px;line-height:90px;padding-right:24px;">{{hommelkast.met_pollen}}</p> 
	    </div>
		<div class="left">
			<a ng-click="recordPollen(0)" class="button button-energized taak inner">
	      		<span style="color:#fff;left:1px;position: absolute;font-size:10px;line-height:12px">hommel zonder pollen</span>
	      	</a>  
	      	<p style="font-size:32px;line-height:90px;padding-left:24px;">{{hommelkast.zonder_pollen}}</p>
		</div>
    </div>
    <div id="tellen-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">je bent nu <b my-current-time="app.tellenoverzicht"></b> minuten bezig met tellen</p>{{format}}
    </div>
    
  </ion-content>
  
  
 <ion-footer class="bar bar-footer center" no-border>
  <ion-toolbar style="width:100%	">
   <a id="tellen-button23" ng-click="showActionSheet()" class="button button-energized slanted">stoppen</a>
  </ion-toolbar>
</ion-footer>

-->