<ion-view title="aanpassen">
  <ion-content padding="true" class="manual-remove-top-padding center" scroll="true">
    <form id="counter-form2" class="list">
     <ion-list id="lijst-list">
      <ion-item class="item-divider" style="color:#fff;background-color: #ffb501;" id="lijst-list-item-divider2" translate>Aanpassen:</ion-item>
      <ion-item class="item-avatar" id="lijst-list-item13">
        <img src="img/metpollen1.svg">
        <h2 translate>hommels met pollen</h2>
        <p style="white-space:normal;"><input type="number" style="font-size:32px;line-height:90px;" placeholder="" ng-model="hommelkast.met_pollen"></p>
        
      </ion-item>
      <ion-item class="item-avatar" id="lijst-list-item14">
        <img src="img/zonderpollen1.svg">
        <h2 translate>hommels zonder pollen</h2>
        <p style="white-space:normal;"><input type="number"  style="font-size:32px;line-height:90px;" placeholder="" ng-model="hommelkast.zonder_pollen"></p>
              </ion-item>
    </ion-list>
      
      
      
    </form>
  </ion-content>
    <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		<div id="lijst-button-bar2" class="button-bar">
      <button ng-click="closeModal()" class="button button-energized button-outline button-block" translate>annuleren</button>
      <button ng-click="opslaan()" class="button button-energized button-block" translate>opslaan</button>
    </div>  	</ion-toolbar>
  </ion-footer>
</ion-view>