<ion-modal-view sui-view="modal" title="Dit is test2" name="modal">
	dit wordt de lege huls voor jagenoverzicht met daarover iedere keer 2 modals
	<a ui-sref="modal.signin()" class="button button-energized slanted">in</a>
	<a ui-sref="modal.signout()" class="button button-energized slanted">out</a>
	
	>>{{jagen}}<<
</ion-modal-view>
