<ion-view title="Welkom" hide-nav-bar="true" hide-back-button="true" >
  <ion-content padding="false" class="manual-remove-top-padding center" scroll="true">
    <div>
      <img src="img/s6zragGSDGpYV7JkLqHT_hommel-001.jpg" class="header">
    </div>
    <h1 id="heading" translate>WELKOM BIJ DE HOMMELAPP {{gebruiker.display_name}}</h1>
    
	<div id="welkom-markdown4" class="show-list-numbers-and-dots">
      <p class="p16" translate>Welkom, klik hieronder om te beginnen.</p>
    </div>
  </ion-content>
  
  <ion-footer class="bar bar-footer center" no-border>
  	<ion-toolbar style="width:100%	">
  		<a ui-sref="app.kiesEenTaak()" class="button button-energized slanted" translate>Beginnen</a>
  	</ion-toolbar>
  </ion-footer>
</ion-view>